.home-page {


    



    .doctor-detail-page-content{
        margin-top: 10px;
       
        margin-bottom: 40px;

        .title{
            font-size: 50px;
            margin-bottom: 20px;
            background-color: #003b6d;
            color: white;
        }

        .doctor-infor-text{
            
            margin-top: 30px;
            font-size: larger;
            .bigger-text{
                font-size: 40px;
            }
            .darker-text{
                font-weight: bold;
            }

            img{
                width: 300px;
            }
        }

        .about-picture{
            
            display: flex;
            align-items: center;
            justify-content: center;
            .image{
                width: 400px;
            }
        }

        

        

        


    }
}